.react-autosuggest__container {
    max-width: 275px;
    width: 100%;
}

.react-autosuggest__input-container {
    position: relative;
}

.react-autosuggest__input-icon {
    font-size: 1.25em;
    opacity: $icon-opacity;
    position: absolute;
    right: 5px;
    top: 6px;
}

.react-autosuggest__input {
    @include border(2px);
    width: 100%;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    background-color: $white;
    width: 100%;
}

.react-autosuggest__suggestions-container--open {
    @extend .react-autosuggest__suggestions-container;
    @include border();
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .15);
    max-height: 200px;
    max-width: 275px;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: $autosuggest-container-z-index;
    
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.react-autosuggest__suggestion {
    @include pad($space-xxs);
    cursor: pointer;
    width: 100%;
    
    &:nth-child(odd) {
        background-color: $weathered-blue-light;
    }
    &:hover {
        background-color: $weathered-blue-hover;
    }
}

.react-autosuggest__suggestion-option {
   align-items: center;
   display: flex;
   width: 100%; 
}

.react-autosuggest__suggestion-type {
    font-size: $size-sm;
    color: $weathered-blue;
    opacity: $icon-opacity;
    margin-right: $space-xxs;
}