.breadcrumbs {
    grid-area: breadcrumbs;
}

.breadcrumb__home {
    font-size: 16px;
}

.breadcrumb {
    display: inline;
    margin-right: 5px;
}

.breadcrumb__chain {
    font-size: 16px;
    margin-right: 5px;
}

.breadcrumb__link {
    font-size: $size-sm;
    position: relative;
    bottom: 2px;
}
