.btn {
    @include pad($space-xxs);
    @include border();
    @include transition;
    background-color: $white;
    font-size: $size-md;
    &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, .25);
    }
}

.btn__icon {
    font-size: 16px;
    margin-right: $space-xs;
}

.btn--text {
    @extend .btn;
    background: none;
    border: none;
    font-size: $size-sm;
}

.btn--primary {
    @extend .btn;
    @include pad($space-xxs, $space-sm);
    @include flex-align-center;
    @include transition;
    background-color: $weathered-blue;
    border: none;
    border-radius: 3px;
    color: $white;
    min-width: max-content;
    &:hover {
        background-color: $white;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
        color: $weathered-blue;
    }
}

.btn--secondary {
    @extend .btn;
    @include pad($space-xxs, $space-sm);
    @include flex-align-center;
    @include transition;
    background-color: $weathered-blue-light;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(88, 88, 88, 0.1);
    color: $gray-medium;
    min-width: max-content;
    &:hover {
        background-color: $weathered-blue;
        color: $white;
        box-shadow: 1px 1px 3px rgba(88, 88, 88, 0.35);
    }
}

.btn--table {
    @extend .btn;
    @include pad($space-xxxs);
    font-size: $size-sm;
    margin-right: $space-xxs;
    &:hover {
        background-color: $weathered-blue;
        color: $white;
    }
}

.btn--minimal {
    @extend .btn;
    background: none;
    border: none;
    box-shadow: none;
}

.btn--table-active {
    @extend .btn--table;
    background-color: $weathered-blue;
    color: $white;
}


.btn--confirmation {
    @include transition;
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    box-shadow: none;
    font-size: $size-sm;
    font-weight: 300;
}

.btn--confirmation-confirm {
    @extend .btn--confirmation;
    margin-right: $space-xs;
    &:hover {
        color: $red;
    }
}