.star-icon {
    font-size: 18px;
    color: $gold;
}

.star-icon--edit {
    @extend .star-icon;
    &:hover {
        cursor: pointer;
    }
}

.select-icon {
    font-size: 18px;
    pointer-events: none;
    position: absolute;
    right: 3px;
}

.add-icon,
.remove-icon {
    cursor: pointer;
    justify-self: center;
    align-self: center;
}

.remove-icon {
    font-size: 16px;
    grid-area: remove;
}

.drag-icon {
    @include transition;
    $color: $gray-light;
    cursor: grab;
    font-size: 18px;
    grid-area: drag;
    opacity: $icon-opacity;
    
    &:hover {
        color: $gray-dark;
        opacity: 1;
    }

    &:active {
        cursor: grabbing;
    }
}

.icon--grabbing {
    cursor: grabbing;
}