.star-icon {
    font-size: 18px;
    color: $gold;
}

.star-icon--edit {
    @extend .star-icon;
    &:hover {
        cursor: pointer;
    }
}

.select-icon {
    font-size: 18px;
    pointer-events: none;
    position: absolute;
    right: 3px;
}

.add-icon,
.remove-icon {
    cursor: pointer;
    justify-self: center;
    align-self: center;
}

.add-icon {
    grid-area: add-btn;
}

.drag-icon {
    @include transition;
    $color: $gray-light;
    cursor: move;
    font-size: 18px;
    grid-area: drag;
    opacity: $icon-opacity;
    
    &:hover {
        color: $gray-dark;
        opacity: 1;
    }
}

.remove-icon {
    @extend .drag-icon;
    cursor: pointer;
    font-size: 16px;
    grid-area: remove;
}