.star-icon {
    font-size: 18px;
    color: $gold;
}

.star-icon--edit {
    @extend .star-icon;
    &:hover {
        cursor: pointer;
    }
}

.select-icon {
    font-size: 18px;
    pointer-events: none;
    position: absolute;
    right: 3px;
}