input {
    @include border(0px);
    @include pad($space-xxs, $space-xs);
    background: $white;
    font-size: $size-sm;
}

.input-container {
    position: relative;
}

.input {
    @extend input;
    padding-left: 30px;
    width: 100%;
    &::placeholder {
        color: $weathered-blue;
    }
}


.input-icon {
    color: $weathered-blue;
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: $icon-opacity;
}

.input--edit {
    @include pad(0);
    @extend input;
    border: none;
    border-bottom: 1px solid $gray-light;
}