.app {
    @include flex-column;
    height: 100vh;
    width: 100vw;
}

.main {
    flex-grow: 1;
    margin-top: $header-height;
}

.content {
    height: 100%;
    margin: 20px auto 0 auto;
    max-width: 1200px;
    width: 90%;
}

.sidebar {
    margin-left: $navbar-width;
}

.table-grid {
    @extend .content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: #{$space-lg} #{$space-xl} auto;
    grid-template-areas:
        "breadcrumbs"
        "page-header"
        "table";
}