.lists {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
}

.list__area {
    @include flex-center;
    @include pad($space-md);

    @include for-phone-only {
        width: 100%;
    }

    @include for-desktop-up {
        width: 25%;
    }
    width: 33.333%;
}

.list {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
    border-radius: 3px;
    width: 100%;
}

.list__header {
    padding: $space-md $space-sm $space-sm $space-sm;
}

.list__name {
    border: none;
    background-color: $white;
    color: $weathered-blue;
    font-weight: 500;
    font-size: $size-md;
    &:hover {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}

.list__name--edit {
    @extend .list__name;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.list__body {
    @include pad($space-xxxs, $space-xxs);
}

.list__list-item-row {
    @include pad($space-xxs, $space-xxxs);
    @include transition;
    display: flex;
    background-color: $white;
    margin: .1em;
    position: relative;
    &:hover {
        background-color: $weathered-blue-light;
        border-radius: 3px;

        i.drag-icon,
        div.list__item-remove {
            opacity: $icon-opacity;
        }
    }

    i.drag-icon,
    div.list__item-remove {
        @include transition;
        opacity: 0;
    }
    
}

.list__item-link {
    flex-grow: 1;
    font-size: $size-sm;
    padding-left: $space-xxs;
}

.list__item-confirmation {
    position: absolute;
    right: 15px;
    top: 27px;
    z-index: $dialog-z-index;
}

.list__footer {
    @include pad($space-sm);
}