.login {
    @include flex-center;
    @include background-img(url("../images/bg-login.jpg"));
    height: 100%;

    &:after {
        background-color: #242424;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.1;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.login__caption {
    margin-bottom: $space-xl;
    text-align: center;
    z-index: $overlay-z-index;
}

.login__title {
    font-size: 3em;
    margin-bottom: $space-xxxs;
    z-index: $overlay-z-index;
}

.login__subtitle {
    color: white;
    font-size: 1.1em;
    z-index: $overlay-z-index;
}

.login-form {
    @include modal-box;
    background-color: rgba(255, 255, 255, .95);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1.25fr;
    grid-template-areas:
        "title create-account"
        "email email"
        "password password"
        "login-btn login-btn"
        "remember forgot";
    min-width: 310px;
    opacity: .95;
    z-index: $overlay-z-index;
}

.login-form__title {
    align-self: baseline;
    grid-area: title;
}

.login-form__create {
    align-self: baseline;
    grid-area: create-account;
    justify-self: flex-end;
}

.login-form__input {
    margin-bottom: $space-sm;
}

.login-form__input--email {
    @extend .login-form__input;
    grid-area: email;
}

.login-form__input--password {
    @extend .login-form__input;
    grid-area: password;
}

.login-form__login {
    grid-area: login-btn;
    &:hover {
        background-color: $weathered-blue;
        color: $white;
    }
}

.login-form__checkbox--remember {
    @include pad($space-sm, 0);
    align-self: baseline;
    font-size: $size-sm;
    grid-area: remember;
}

.login-form__forgot {
    @include pad($space-sm, 0);
    align-self: baseline;
    font-size: $size-sm;
    grid-area: forgot;
}