.navbar {
    background-color: $weathered-gray;
    color: $white;
    height: 100vh;
    left: 0;
    position: fixed;
    min-width: $navbar-width;
    max-width: $navbar-width;
    overflow-y: hidden;
    padding-top: calc(#{$header-height} + #{$size-md});
    top: 0;
    transition: all .125s ease-in-out;
    &:hover {
        max-width: $navbar-hover-width;
        min-width: $navbar-hover-width;
    }
}

.navbar__link {
    color: $gray-text;
    display: grid;
    grid-template-columns: 50px 110px;
    grid-template-rows: auto;
    grid-template-areas:
    "icon label";
    height: 36px;
    &:hover {
        color: $white;
    }
}

.navbar__icon {
    align-self: center;
    font-size: 24px;
    grid-area: icon;
    justify-self: center;
    &:hover + .navbar__label {
        color: $white;
    }
}

.navbar__label {
    align-self: center;
    color: $gray-text;
    font-size: $size-sm;
    &:hover {
        color: $white;
    }
}