.navbar {
    background-color: $weathered-blue;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, .2);
    color: $white;
    height: 100vh;
    left: 0;
    position: fixed;
    min-width: $navbar-width;
    max-width: $navbar-width;
    overflow-x: hidden;
    padding-top: calc(#{$header-height} + #{$size-md});
    top: 0;
    transition: all .125s ease-in-out;
    z-index: $navbar-z-index;
    &:hover {
        max-width: $navbar-hover-width;
        min-width: $navbar-hover-width;
    }
}

.navbar--open {
    @extend .navbar;
    min-width: $navbar-hover-width;
    max-width: $navbar-hover-width;
}

.navbar__link {
    color: $gray-text;
    display: grid;
    grid-template-columns: 50px 110px;
    grid-template-rows: auto;
    grid-template-areas:
    "icon label";
    height: 36px;
    &:hover {
        color: $white;
    }
    &:first-of-type {
        margin-top: 30px;
    }
}

.navbar__icon {
    align-self: center;
    font-size: 24px;
    grid-area: icon;
    justify-self: center;
    &:hover + .navbar__label {
        color: $white;
    }
}

.navbar__label {
    align-self: center;
    color: $gray-text;
    font-size: $size-sm;
    &:hover {
        color: $white;
    }
}

.navbar__toggle {
    @include flex-center;
    background-color: $white;
    border-radius: 50% 0 0 50%;
    height: 20px;
    position: absolute;
    right: 0;
    width: 20px;
}

.navbar__toggle-icon {
    color: $weathered-blue;
    font-size: 20px;
}