.overlay {
    @include flex-center;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $overlay-z-index;
}

.overlay--transparent {
    @extend .overlay;
    background-color: rgba(0, 0, 0, .2);
}