.recipe-grid {
    @extend .content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: #{$space-lg} #{$space-lg} auto;
    grid-template-areas:
        "breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
        "photo page-header page-header page-header"
        "photo about about about"
        "info info info info"
        "ingredients ingredients directions directions";

    @include for-desktop-up {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
            "photo page-header page-header page-header page-header page-header"
            "photo about about about about about"
            "info info info info info info"
            "ingredients ingredients ingredients directions directions directions";
    }
}

.recipe-grid__about {
    grid-area: about;
}

.recipe-grid__ratings {
    display: flex;
}

.recipe-grid__rating-count {
    margin-left: $space-sm;
}

.recipe-grid__summary {
    margin-top: $space-md;
}

.recipe-grid__info {
    grid-area: info;
}

.recipe-grid__ingredients {
    grid-area: ingredients;
    display: flex;
    flex-direction: column;
}
.recipe-grid__section-title {
    margin-bottom: $space-md;
}

.recipe-grid__ingredient-row {
    @include pad($space-xxs, 0);
    display: grid;
    grid-template-columns: 25px 1.5fr 25px 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "order amount . ingredient";
}

.recipe-grid__ingredient-order {
    grid-area: order;
}

.recipe-grid__ingredient-amount {
    grid-area: amount;
}

.recipe-grid__ingredient-item {
    grid-area: ingredient;
    font-weight: 500;
}

.recipe-grid__directions {
    grid-area: directions;
}

.recipe-grid__direction-row {
    @include pad($space-xxs, 0);
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "order direction";
}

.recipe-grid__direction-order {
    grid-area: order;
}

.recipe-grid__direction {
    grid-area: direction;
}

.star-icon {
    font-size: 18px;
    color: $gold;
}