.recipe-grid {
    @extend .content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: #{$space-lg} minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) auto minmax(min-content, max-content);
    grid-template-areas:
        "breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
        "photo page-header page-header page-header"
        "photo about about about"
        "info info info info"
        "ingredients ingredients directions directions"
        "notes notes notes notes";

    @include for-tablet-portrait-up {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
            "photo page-header page-header page-header page-header page-header"
            "photo about about about about about"
            "info info info info info info"
            "ingredients ingredients ingredients directions directions directions"
            "notes notes notes . . .";
    }

    @include for-desktop-up {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
            "photo page-header page-header page-header page-header page-header"
            "photo about about about about about"
            "info info info info info info"
            "ingredients ingredients ingredients directions directions directions"
            "notes notes notes . . .";
    }
}

.recipe-grid__section-title {
    margin-bottom: $space-md;
}

.recipe-grid__about {
    grid-area: about;
}

.recipe-grid__ratings {
    display: flex;
}

.recipe-grid__rating-count {
    margin-left: $space-sm;
}

.recipe-grid__summary {
    margin-top: $space-md;
}

.recipe-grid__info {
    @include pad($space-xs, 0);
    @include margin($space-lg, 0);
    grid-area: info;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid $weathered-gray;
    border-bottom: 1px solid $weathered-gray;

    @include for-tablet-landscape-up {
        flex-wrap: nowrap;
    }
}

.recipe-grid__info-block {
    @include flex-center;
    width: 33%;

    @include for-desktop-up {
        width: auto;
    }
}

.recipe-grid__remove {
    @include flex-align-center;
    align-self: center;
    grid-area: remove;
    height: 24px;
    position: relative;
}

.recipe-grid__confirmation {
    position: absolute;
    right: 30px;
    top: 10px;
}

.recipe-grid__info-input {
    @extend .input--edit;
    @include margin($space-xs, 0);
    font-size: $size-sm;
    font-weight: 300;
    height: 2.435em; // 39px
    max-width: 130px;
    text-align: center;
    width: 80%;
    &::placeholder {
        font-style: oblique;
    }
}

@import './recipe/ingredients';
@import './recipe/directions';
@import './recipe/notes';
@import './recipe/photo';