.table-grid {
    @extend .content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: #{$space-lg} #{$space-xl} minmax(min-content, max-content) auto;
    grid-template-areas:
        "breadcrumbs"
        "page-header"
        "filters"
        "table";
}

.table-grid--simple {
    @extend .table-grid;
    grid-template-areas:
        "breadcrumbs"
        "page-header"
        "table";
}

.table {
    @include modal-box;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.table__row {
    @include pad($space-sm, $space-md);
    background-color: $white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr .25fr;
    &:nth-child(even) {
        background-color: $weathered-blue-light;
    }
    &:hover { 
        background-color: $weathered-blue-hover;
    }
}

.table__header {
    @include modal-header;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .25);
    &:hover {
        background-color: $white;
    }
}

.table__row--recipe {
    @extend .table__row;
    grid-template-areas:
        "name category cuisine created-at more";
}

.table__row--ingredient {
    @extend .table__row;
    grid-template-columns: 2fr 1fr 1fr .25fr;
    grid-template-areas:
        "name name category subcategory more";
}

.table__cell {
    display: flex;
    justify-content: flex-start;
}

.table__body {
    flex-grow: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.table__more-options {
    position: relative;
    text-align: center;
}

.table__more-icon {
    @include transition;
    cursor: pointer;
    font-size: 18px;
    justify-self: center;
    opacity: $icon-opacity;

    &:hover + .table__options-modal {
        @include flex-column;
    }
}

.table__options-modal {
    @include transition;
    background: #fffeff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    display: none;
    position: absolute;
    right: 20px;
    top: 3px;
    min-width: 100px;
    width: max-content;
    z-index: $table-options-z-index;

    &:hover {
        @include flex-column;
    }
}

.table__options-modal > .table__more-option--cascade,
.table__options-modal > .table__more-option--cascade > .table__more-options-cascade-btn {
    border-radius: 3px 3px 0 0;
}

.table__more-option {
    @include flex-align-center;
    @include transition;
    justify-content: flex-start;
    padding: .4em;
    width: 100%;
    &:hover {
        background-color: $weathered-gray-hover;
        cursor: pointer;
    }
}

.table__more-option-icon {
    font-size: $size-md;
    margin-right: $space-xs;
}

.table__more-option--cascade {
    @extend .table__more-option;
    @include pad(0);
    flex-direction: column;

    &:hover {
        background-color: $white;
        cursor: default;
    }
}

.table__more-option-icon-box {
    @include transition;
    padding: .4em 0;
    border-left: 1px solid rgba(0, 0, 0, .15);
    margin-left: 0.4em;
    padding-left: .4em;

    &:hover {
        background-color: $weathered-gray-hover;
        cursor: pointer;
    }
}

.table__more-option-dropdown {
    @include flex-column;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15) inset;
    width: 100%;
}

.table__more-options-cascade-btn {
    @include flex-align-center;
    padding-left: .4em;
    width: 100%;
}


.table__more-options-cascade-btn--open {
    @extend .table__more-options-cascade-btn;
    @include border-bottom(rgba(0, 0, 0, .15));
}

.table__more-dropdown-option {
    @include pad(.4em, $space-sm);
    @include transition;
    color: $weathered-blue;
    display: flex;
    align-items: baseline;

    &:nth-child(even) {
        background-color: $weathered-blue-light;
    }

    &:hover {
        background-color: $weathered-blue-hover;
        cursor: pointer;
    }
}

.table__inactive {
    font-size: .9em;
}

.table__emphasize {
    font-weight: 500;
}

.table__footer {
    @include flex-align-center;
    @include modal-footer;
    border-top: 1px solid rgba(0, 0, 0, .25);
    width: 100%;
}

.table__pagination {
    @include flex-align-center;
    @include pad($space-md);
    justify-content: space-between;
    width: 100%;
}

.table__pagination-nav {
    @include flex-align-center;
    justify-content: flex-end;
}

.table__pagination-ellipsis {
    margin-right: $space-xxs;
}

.table-filter {
    align-items: baseline;
    display: flex;
    grid-area: filters;
    justify-content: flex-end;
    padding-bottom: $space-md;
}