.table {
    @include modal-box;
    padding: 0;
}

.table__row {
    @include pad($space-sm, $space-md);
    background-color: $white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr .25fr;
    &:nth-child(even) {
        background-color: $weathered-blue-light;
    }
    &:hover { 
        background-color: $weathered-blue-hover;
    }
}

.table__header {
    @include modal-header;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .25);
    &:hover {
        background-color: $white;
    }
}

.table__row--recipe {
    @extend .table__row;
    grid-template-areas:
        "name category cuisine created-at more";
}

.table__cell {
    display: flex;
    justify-content: flex-start;
}

.table__body {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.table__more-icon {
    @include transition;
    cursor: pointer;
    font-size: 18px;
    justify-self: center;
    opacity: $icon-opacity;
    &:hover {
        opacity: 1;
    }
}