.welcome {
    @include flex-center;
    @include background-img(url("../images/bg-login.jpg"));
    height: 100%;
}

.welcome__main-card {
    @include modal-box;
    @include pad(2em, 1em);
    display: flex;
    background-color: $white;
}

.welcome__caption {
    @include flex-center;
    @include pad(0, $space-md);
    margin-right: $space-md;
}

.welcome__bg {
    background-image: url('../images/bg-vegetables.jpg');
    height: 100vh;
    left: 0;
    opacity: .1;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $bg-z-index;
}