.recipe-grid__about {
    grid-area: about;
}

.recipe-grid__ratings {

}

.recipe-grid__summary {

}

.recipe-grid__info {
    grid-area: info;
}

.recipe-grid__ingredients {
    grid-area: ingredients;
}

.recipe-grid__directions {
    grid-area: directions;
}