.about {
    @include margin(3em, auto);
    @include flex-column;
    align-items: center;
    justify-content: space-evenly;

    @include for-phone-only {
        text-align: center;
    }
}

.about__title {
    margin-bottom: $space-md;
}