.benefits {
    @include margin(3em, auto);
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    max-width: 1200px;

    @include for-desktop-up {
        flex-wrap: nowrap;
    }
}

.benefit {
    @include flex-column;
    align-items: center;
    margin-bottom: 2em;
    width: 70%;

    @include for-tablet-portrait-up {
        width: 40%;
    }

    @include for-desktop-up {
        margin-bottom: 0;
        width: 20%;
    }
}

.benefit__header {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: $space-xxs;
}

.benefit__text {
    text-align: center;

    @include for-desktop-up {
        width: 90%;
    }
}