.recipe-grid__ingredients {
    grid-area: ingredients;
    display: flex;
    flex-direction: column;
}

.recipe-grid__ingredient-list {
    @include pad($space-xs, 0);
}

.recipe-grid__ingredient-row {
    @include pad($space-xxs, 0);
    display: grid;
    grid-template-columns: 1.5fr 25px 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "amount . ingredient";
}

.recipe-grid__ingredient-row--edit {
    @include margin(.1em, 0);
    @include pad($space-xs, $space-xxs);
    @include transition;
    background-color: $weathered-blue-light;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 24px 1.5fr 25px 3fr 24px;
    grid-template-rows: auto;
    grid-template-areas:
        "drag amount . ingredient remove";
    width: 90%;
    &:hover {
        background-color: $weathered-blue-hover;
    }
}

.recipe-grid__ingredient-add {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "amount amount m-u m-u  ingredient ingredient ingredient ingredient add-btn";
    margin-bottom: $space-md;

    .react-autosuggest__container {
        border: none;
        border-bottom: 1px solid $gray-dark;
        grid-area: ingredient;
        position: relative;
    }
    
    .react-autosuggest__input {
        border: none;
    }
}

.recipe-grid__ingredient-input {
    border: none;
    border-bottom: 1px solid $gray-dark;
    width: 100%;
}

.recipe-grid__ingredient-input--amount {
    @extend .recipe-grid__ingredient-input;
    grid-area: amount;
}

.recipe-grid__ingredient-input--measurement-unit {
    grid-area: m-u;
}

.recipe-grid__ingredient-amount {
    grid-area: amount;
}

.recipe-grid__ingredient-item {
    cursor: pointer;
    grid-area: ingredient;
    font-weight: 500;
    &:hover {
    }
}

.recipe-grid__ingredient-item-type {
    font-size: $size-sm;
    color: $weathered-blue;
    opacity: $icon-opacity;
    margin-right: $space-xxs;
}