/* Fonts */
/* vietnamese */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_CGslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_CWslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_B2slqZ6GfQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXd4qqKkkog6SP.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXdoqqKkkog6SP.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXeIqqKkkogw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CGslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CWslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_B2slqZ6GfQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFPZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFOZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFAZ9XCT0mq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yZ9MRtRdjodUA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yY9MRtRdjodUA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yW9MRtRdjo.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FPZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FOZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FAZ9XCT0mq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Authored Dependencies */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-size: 1em;
}
button:disabled {
  cursor: default;
}
button:focus {
  outline: none;
}

input, .input {
  font-size: 1em;
}

input:focus, .input:focus,
select:focus {
  outline: none;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

textarea {
  resize: vertical;
}

body, a, p {
  color: #363636;
  font-family: "Encode Sans Semi Condensed", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #151515;
  font-family: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
}

h3 {
  font-weight: 300;
}

h4 {
  color: #385e83;
}

h5 {
  font-weight: 300;
  font-size: 1em;
}

a:hover {
  color: #385e83;
}

/* Spacing */
/* Components */
.app {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-top: 54px;
}

.content, .table-grid {
  height: 100%;
  margin: 20px auto 0 auto;
  max-width: 1200px;
  width: 90%;
}

.sidebar {
  margin-left: 50px;
}

.table-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(2 * 1em) calc(3.25 * 1em) auto;
  grid-template-areas: "breadcrumbs" "page-header" "table";
}

.breadcrumbs {
  grid-area: breadcrumbs;
}

.breadcrumb__home {
  font-size: 16px;
}

.breadcrumb {
  margin-right: 5px;
}

.breadcrumb__chain {
  font-size: 16px;
  margin-right: 5px;
}

.breadcrumb__link {
  font-size: 0.875em;
  position: relative;
  bottom: 2px;
}

.btn, .btn--text {
  padding: calc(0.375 * 1em);
  border: 1px solid #363636;
  border-radius: 3px;
  background-color: #fffeff;
  font-size: 1em;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}
.btn:hover, .btn--text:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.btn__icon {
  font-size: 16px;
  margin-right: calc(0.5 * 1em);
}

.btn--text {
  background: none;
  border: none;
}

.btn--primary {
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
  background-color: #385e83;
  border: none;
  border-radius: 3px;
  color: #fffeff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.btn--primary:hover {
  background-color: #fffeff;
  color: #385e83;
}

input, .input {
  border: 1px solid #363636;
  border-radius: 0px;
  padding: calc(0.375 * 1em) calc(0.5 * 1em);
  background: #fffeff;
  font-size: 0.875em;
}

.input-container {
  position: relative;
}

.input {
  padding-left: 30px;
  width: 100%;
}
.input::-webkit-input-placeholder {
  color: #385e83;
}
.input::-moz-placeholder {
  color: #385e83;
}
.input:-ms-input-placeholder {
  color: #385e83;
}
.input::-ms-input-placeholder {
  color: #385e83;
}
.input::placeholder {
  color: #385e83;
}

.input-icon {
  color: #385e83;
  font-size: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0.54;
}

.header {
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
  background-color: #fffeff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__logo {
  height: 36px;
  width: auto;
}

.header__links {
  align-self: center;
}

.header__link, .header__link--outline {
  margin-right: calc(0.5 * 1em);
}
.header__link:last-child, .header__link--outline:last-child {
  margin-right: 0;
}

.header__link--outline {
  border: 1px solid #363636;
  border-radius: 3px;
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
}

.header__form {
  display: none;
}

.navbar {
  background-color: #505d6a;
  color: #fffeff;
  height: 100vh;
  left: 0;
  position: fixed;
  min-width: 50px;
  max-width: 50px;
  overflow-y: hidden;
  padding-top: calc(54px + 1em);
  top: 0;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
}
.navbar:hover {
  max-width: 160px;
  min-width: 160px;
}

.navbar__link {
  color: #dedede;
  display: grid;
  grid-template-columns: 50px 110px;
  grid-template-rows: auto;
  grid-template-areas: "icon label";
  height: 36px;
}
.navbar__link:hover {
  color: #fffeff;
}

.navbar__icon {
  align-self: center;
  font-size: 24px;
  grid-area: icon;
  justify-self: center;
}
.navbar__icon:hover + .navbar__label {
  color: #fffeff;
}

.navbar__label {
  align-self: center;
  color: #dedede;
  font-size: 0.875em;
}
.navbar__label:hover {
  color: #fffeff;
}

.page-header {
  -webkit-box-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: flex;
  grid-area: page-header;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.page-header__info {
  display: -webkit-box;
  display: flex;
}

page-header__options {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.page-header__record-count {
  margin-left: calc(0.75 * 1em);
}

.table {
  padding: calc(0.5 * 1em) calc(1.25 * 1em);
  background-color: white;
  border-radius: 6px 6px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
}

.table__row, .table__row--recipe {
  padding: calc(0.75 * 1em) calc(1.25 * 1em);
  background-color: #fffeff;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.25fr;
}
.table__row:nth-child(even), .table__row--recipe:nth-child(even) {
  background-color: #4f5d6a07;
}
.table__row:hover, .table__row--recipe:hover {
  background-color: #2780d31c;
}

.table__header {
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.table__header:hover {
  background-color: #fffeff;
}

.table__row--recipe {
  grid-template-areas: "name category cuisine created-at more";
}

.table__cell {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.table__body {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}
.table__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.table__more-options {
  position: relative;
  text-align: center;
}

.table__more-icon {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  justify-self: center;
  opacity: 0.54;
}
.table__more-icon:hover + .table__options-modal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.table__options-modal {
  background: #fffeff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  right: 20px;
  top: 3px;
  min-width: 100px;
  z-index: 500;
}
.table__options-modal:hover {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.table__more-option {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  padding: 0.4em;
  width: 100%;
}
.table__more-option:hover {
  background-color: #5b677430;
  cursor: pointer;
}

.table__more-option-icon {
  font-size: 16px;
  margin-right: calc(0.5 * 1em);
}

.footer {
  background-color: #eeeeee;
  height: 50px;
}

.login {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-image: url("../images/bg-login.jpg");
  background-size: cover;
  height: 100%;
}

.login-form {
  padding: calc(0.5 * 1em) calc(1.25 * 1em);
  background-color: white;
  border-radius: 6px 6px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.95);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1.25fr;
  grid-template-areas: "title create-account" "email email" "password password" "login-btn login-btn" "remember forgot";
  min-width: 310px;
}

.login-form__title {
  align-self: baseline;
  grid-area: title;
}

.login-form__create {
  align-self: baseline;
  grid-area: create-account;
  justify-self: flex-end;
}

.login-form__input, .login-form__input--password, .login-form__input--email {
  margin-bottom: calc(0.75 * 1em);
}

.login-form__input--email {
  grid-area: email;
}

.login-form__input--password {
  grid-area: password;
}

.login-form__login {
  grid-area: login-btn;
}
.login-form__login:hover {
  background-color: #385e83;
  color: #fffeff;
}

.login-form__checkbox--remember {
  padding: calc(0.75 * 1em) 0;
  align-self: baseline;
  font-size: 0.875em;
  grid-area: remember;
}

.login-form__forgot {
  padding: calc(0.75 * 1em) 0;
  align-self: baseline;
  font-size: 0.875em;
  grid-area: forgot;
}

.register {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-image: url("../images/bg-login.jpg");
  background-size: cover;
  height: 100%;
}

.register-form {
  padding: calc(0.5 * 1em) calc(1.25 * 1em);
  background-color: white;
  border-radius: 6px 6px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.95);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "title login" "name name" "email email" "password password" "confirm confirm" "create-btn create-btn";
  min-width: 310px;
}

.register-form__title {
  align-self: baseline;
  grid-area: title;
}

.register-form__login {
  align-self: baseline;
  grid-area: login;
  justify-self: flex-end;
}

.register-form__input, .register-form__input--password-confirmation, .register-form__input--password, .register-form__input--email, .register-form__input--name {
  margin-bottom: calc(0.75 * 1em);
  position: relative;
}

.register-form__input--name {
  grid-area: name;
}

.register-form__input--email {
  grid-area: email;
}

.register-form__input--password {
  grid-area: password;
}

.register-form__input--password-confirmation {
  grid-area: confirm;
}

.register-form__create {
  grid-area: create-btn;
}
.register-form__create:hover {
  background-color: #385e83;
  color: #fffeff;
}