/* Fonts */
/* vietnamese */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_CGslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_CWslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_B2slqZ6GfQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXd4qqKkkog6SP.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXdoqqKkkog6SP.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXeIqqKkkogw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CGslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CWslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_B2slqZ6GfQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Barlow Semi Condensed Bold"), local("BarlowSemiCondensed-Bold"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfw6-_CGslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Barlow Semi Condensed Bold"), local("BarlowSemiCondensed-Bold"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfw6-_CWslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Barlow Semi Condensed Bold"), local("BarlowSemiCondensed-Bold"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfw6-_B2slqZ6GfQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFPZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFOZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFAZ9XCT0mq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yZ9MRtRdjodUA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yY9MRtRdjodUA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yW9MRtRdjo.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FPZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FOZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FAZ9XCT0mq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Authored Dependencies */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-size: 1em;
}
button:disabled {
  cursor: default;
}
button:focus {
  outline: none;
}

input, .input--edit, .recipe-grid__info-input, .page-header__title--input, .input {
  font-size: 1em;
}

input:focus, .input--edit:focus, .recipe-grid__info-input:focus, .page-header__title--input:focus, .input:focus,
select:focus {
  outline: none;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

textarea {
  resize: vertical;
}
textarea:focus {
  outline: none;
}

body, a, p {
  color: #363636;
  font-family: "Encode Sans Semi Condensed", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #385e83;
  font-family: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

h4 {
  color: #385e83;
}

h5 {
  font-weight: 300;
  font-size: 1em;
}

a:hover {
  color: #385e83;
}

/* Spacing */
@-webkit-keyframes slidein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slidein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Components */
.app {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100vh;
}

.main {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-top: 54px;
}

.content, .recipe-grid, .table-grid, .table-grid--simple {
  max-width: 1200px;
  width: 90%;
  min-height: 90%;
  max-height: 100%;
  margin: 20px auto 0 auto;
}

.sidebar {
  margin-left: 50px;
}

.overlay, .overlay--transparent {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 500;
}

.overlay--transparent {
  background-color: rgba(0, 0, 0, 0.2);
}

.filter {
  position: relative;
  width: 125px;
  margin-left: calc(0.75 * 1em);
}
.filter:first-child {
  margin-left: 0;
}

.filter__btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: calc(0.375 * 1em);
  border: 1px solid #363636;
  border-radius: 3px;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  background-color: #fffeff;
  font-size: 0.8em;
  width: 100%;
}
.filter__btn:hover {
  background-color: #fffeff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  color: #385e83;
}

.filter__suggestions {
  border: 1px solid #363636;
  border-radius: 3px;
  background-color: #fffeff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-size: 0.875em;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  scrollbar-width: none;
  width: 100%;
  z-index: 700;
}
.filter__suggestions::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.filter__suggestion {
  padding: calc(0.375 * 1em);
  cursor: pointer;
  width: 100%;
}
.filter__suggestion:nth-child(odd) {
  background-color: #4f5d6a07;
}
.filter__suggestion:hover {
  background-color: #2780d31c;
}

.filter__suggestion--selected {
  padding: calc(0.375 * 1em);
  background-color: #385e83;
  color: white;
  cursor: pointer;
  width: 100%;
}
.filter__suggestion--selected:hover {
  background-color: #385e83;
}

.react-autosuggest__container {
  max-width: 275px;
  width: 100%;
}

.react-autosuggest__input-container {
  position: relative;
}

.react-autosuggest__input-icon {
  font-size: 1.25em;
  opacity: 0.54;
  position: absolute;
  right: 5px;
  top: 6px;
}

.react-autosuggest__input {
  border: 1px solid #363636;
  border-radius: 2px;
  width: 100%;
}

.react-autosuggest__suggestions-container, .react-autosuggest__suggestions-container--open {
  position: absolute;
  background-color: #fffeff;
  width: 100%;
}

.react-autosuggest__suggestions-container--open {
  border: 1px solid #363636;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  max-height: 200px;
  max-width: 275px;
  overflow-y: scroll;
  scrollbar-width: none;
  z-index: 900;
}
.react-autosuggest__suggestions-container--open::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.react-autosuggest__suggestion {
  padding: calc(0.375 * 1em);
  cursor: pointer;
  width: 100%;
}
.react-autosuggest__suggestion:nth-child(odd) {
  background-color: #4f5d6a07;
}
.react-autosuggest__suggestion:hover {
  background-color: #2780d31c;
}

.react-autosuggest__suggestion-option {
  display: block;
  width: 100%;
}

.confirmation {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
  padding: calc(0.375 * 1em) calc(0.5 * 1em);
  border-radius: 3px;
  background-color: #424242;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.confirmation__label {
  color: #b6def0;
  font-size: 0.875em;
  margin-right: calc(1.25 * 1em);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.loading {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.loading__circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 4px rgba(0, 0, 0, 0);
  border-top-color: #385e83;
  border-right-color: #385e83;
  -webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.card__area {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: calc(0.75 * 1em);
  width: 33.333%;
}
@media (max-width: 599px) {
  .card__area {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .card__area {
    width: 25%;
  }
}

.card {
  border: 1px solid #363636;
  border-radius: 3px;
  border-color: #dddddd;
  box-shadow: 0px 1px 3px rgba(54, 54, 54, 0.15);
  max-width: 250px;
  width: 100%;
}
@media (min-width: 1200px) {
  .card {
    max-width: 275px;
  }
}

.card__photo {
  width: 100%;
  height: 207px;
}

.card__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: calc(0.5 * 1em);
}

.card__footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: calc(0.5 * 1em);
}

.card__link {
  font-size: 0.875em;
}

.photo, .photo--circle {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.photo--circle {
  border-radius: 50%;
}

.photo--recipe, .photo--recipe-edit {
  grid-area: photo;
  height: 100px;
  width: 100px;
}
@media (min-width: 1200px) {
  .photo--recipe, .photo--recipe-edit {
    justify-self: center;
  }
}

.photo--recipe-edit {
  align-self: center;
  border-radius: 4px;
  justify-self: center;
}

.photo-upload {
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #fffeff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.photo-upload__header {
  padding: calc(0.375 * 1em);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.photo-upload__drop-zone {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex-grow: 1;
  height: 280px;
  width: 325px;
}

.photo-upload__preview {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 75%;
}

.photo-upload__preview-subtitle {
  margin-bottom: calc(0.5 * 1em);
}

.photo-upload__preview-thumbnail {
  height: 150px;
  width: 150px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.photo-upload__preview-name {
  font-size: 0.875em;
  margin-top: calc(0.375 * 1em);
}

.photo-upload__target {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  width: 100%;
}

.photo-upload__drag--over-frame {
  cursor: no-drop;
}

.photo-upload__drag--over-target {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  background-color: #2780d31c;
}

.photo-upload__instructions {
  font-style: oblique;
  color: #424242;
}

.photo-upload__btns {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: calc(1.25 * 1em);
  width: 100%;
}

.breadcrumbs {
  grid-area: breadcrumbs;
}

.breadcrumb__home {
  font-size: 16px;
}

.breadcrumb {
  margin-right: 5px;
}

.breadcrumb__chain {
  font-size: 16px;
  margin-right: 5px;
}

.breadcrumb__link {
  font-size: 0.875em;
  position: relative;
  bottom: 2px;
}

.btn, .btn--minimal, .btn--table, .btn--table-active, .btn--primary, .btn--text {
  padding: calc(0.375 * 1em);
  border: 1px solid #363636;
  border-radius: 3px;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  background-color: #fffeff;
  font-size: 1em;
}
.btn:hover, .btn--minimal:hover, .btn--table:hover, .btn--table-active:hover, .btn--primary:hover, .btn--text:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.btn__icon {
  font-size: 16px;
  margin-right: calc(0.5 * 1em);
}

.btn--text {
  background: none;
  border: none;
}

.btn--primary {
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  background-color: #385e83;
  border: none;
  border-radius: 3px;
  color: #fffeff;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.btn--primary:hover {
  background-color: #fffeff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  color: #385e83;
}

.btn--table, .btn--table-active {
  padding: calc(0.25 * 1em);
  font-size: 0.875em;
  margin-right: calc(0.375 * 1em);
}
.btn--table:hover, .btn--table-active:hover {
  background-color: #385e83;
  color: #fffeff;
}

.btn--minimal {
  background: none;
  border: none;
  box-shadow: none;
}

.btn--table-active {
  background-color: #385e83;
  color: #fffeff;
}

.btn--confirmation, .btn--confirmation-confirm {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  background: none;
  border: none;
  color: #fffeff;
  cursor: pointer;
  box-shadow: none;
  font-size: 0.875em;
  font-weight: 300;
}

.btn--confirmation-confirm {
  margin-right: calc(0.5 * 1em);
}
.btn--confirmation-confirm:hover {
  color: #ce0e0e;
}

.star-icon, .star-icon--edit {
  font-size: 18px;
  color: #fdc22d;
}

.star-icon--edit:hover {
  cursor: pointer;
}

.select-icon {
  font-size: 18px;
  pointer-events: none;
  position: absolute;
  right: 3px;
}

.drag-icon {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  align-self: center;
  cursor: move;
  font-size: 18px;
  grid-area: drag;
  opacity: 0.54;
}
.drag-icon:hover {
  color: #363636;
  opacity: 1;
}

.dropdown-icon {
  font-size: 1.5em;
}

.add-icon, .add-icon--textarea {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  align-self: center;
  color: #4fa75d;
  cursor: pointer;
  grid-area: add-btn;
  justify-self: center;
  opacity: 0.8;
}
.add-icon:hover, .add-icon--textarea:hover {
  opacity: 1;
}

.add-icon--textarea {
  align-self: flex-start;
}

.remove-icon {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  align-self: center;
  cursor: pointer;
  font-size: 16px;
  grid-area: remove;
  justify-self: center;
  opacity: 0.54;
}
.remove-icon:hover {
  color: #ce0e0e;
  opacity: 1;
}

.photo-edit-icon {
  padding: calc(0.375 * 1em);
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  background: #fffeff;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 14px;
  top: 12px;
}
.photo-edit-icon:hover {
  background-color: #385e83;
  color: #fffeff;
}

.image-icon {
  font-size: 2.5em;
  opacity: 0.54;
}

.close-icon {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  font-size: 1em;
  opacity: 0.54;
}
.close-icon:hover {
  opacity: 1;
}

.table-favorite-icon {
  color: #385e83;
  font-size: 0.8em;
  margin-left: calc(0.375 * 1em);
  opacity: 0.54;
  position: relative;
  top: 1px;
}

input, .input--edit, .recipe-grid__info-input, .page-header__title--input, .input {
  border: 1px solid #363636;
  border-radius: 0px;
  padding: calc(0.5 * 1em) calc(0.5 * 1em);
  background: #fffeff;
  font-size: 0.875em;
}

.input-container {
  position: relative;
}

.input {
  padding-left: 30px;
  width: 100%;
}
.input::-webkit-input-placeholder {
  color: #385e83;
}
.input::-moz-placeholder {
  color: #385e83;
}
.input:-ms-input-placeholder {
  color: #385e83;
}
.input::-ms-input-placeholder {
  color: #385e83;
}
.input::placeholder {
  color: #385e83;
}

.input-icon {
  color: #385e83;
  font-size: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0.54;
}

.input--edit, .recipe-grid__info-input, .page-header__title--input {
  padding: 0;
  border: none;
  border-bottom: 1px solid #cfcfcf;
}

.textarea, .textarea--edit {
  border: 1px solid #363636;
  border-radius: 4px;
  padding: calc(0.375 * 1em);
  font-size: 1em;
  font-family: "Encode Sans Semi Condensed", Helvetica, Arial, sans-serif;
  border-color: #cfcfcf;
  font-size: 0.875em;
}
.textarea::-webkit-scrollbar, .textarea--edit::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.textarea::-webkit-input-placeholder, .textarea--edit::-webkit-input-placeholder {
  color: #385e83;
  font-style: oblique;
}
.textarea::-moz-placeholder, .textarea--edit::-moz-placeholder {
  color: #385e83;
  font-style: oblique;
}
.textarea:-ms-input-placeholder, .textarea--edit:-ms-input-placeholder {
  color: #385e83;
  font-style: oblique;
}
.textarea::-ms-input-placeholder, .textarea--edit::-ms-input-placeholder {
  color: #385e83;
  font-style: oblique;
}
.textarea::placeholder, .textarea--edit::placeholder {
  color: #385e83;
  font-style: oblique;
}

.textarea--edit {
  height: 75px;
  width: 100%;
}

.select__wrapper {
  border: 1px solid #363636;
  border-radius: 4px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: calc(0.5 * 1em) 0;
  background-color: #fffeff;
  border-color: #cfcfcf;
  position: relative;
  width: 120px;
}
@media (min-width: 1200px) {
  .select__wrapper {
    width: 125px;
  }
}

.select__wrapper--auto {
  width: 90%;
}

.select {
  padding: calc(0.5 * 1em);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: none;
  border: none;
  border-radius: 4px;
  color: #363636;
  cursor: pointer;
  font-size: 0.875em;
  position: relative;
  width: 100%;
}

.header {
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
  background-color: #fffeff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header__logo {
  height: 36px;
  width: auto;
}

.header__links {
  align-self: center;
}

.header__link, .header__link--outline {
  margin-right: calc(0.5 * 1em);
}
.header__link:last-child, .header__link--outline:last-child {
  margin-right: 0;
}

.header__link--outline {
  border: 1px solid #363636;
  border-radius: 3px;
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
}

.header__form {
  display: none;
}

.navbar {
  background-color: #505d6a;
  color: #fffeff;
  height: 100vh;
  left: 0;
  position: fixed;
  min-width: 50px;
  max-width: 50px;
  overflow-x: hidden;
  padding-top: calc(54px + 1em);
  top: 0;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  z-index: 100;
}
.navbar:hover {
  max-width: 160px;
  min-width: 160px;
}

.navbar__link {
  color: #dedede;
  display: grid;
  grid-template-columns: 50px 110px;
  grid-template-rows: auto;
  grid-template-areas: "icon label";
  height: 36px;
}
.navbar__link:hover {
  color: #fffeff;
}

.navbar__icon {
  align-self: center;
  font-size: 24px;
  grid-area: icon;
  justify-self: center;
}
.navbar__icon:hover + .navbar__label {
  color: #fffeff;
}

.navbar__label {
  align-self: center;
  color: #dedede;
  font-size: 0.875em;
}
.navbar__label:hover {
  color: #fffeff;
}

.page-header {
  -webkit-box-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: flex;
  grid-area: page-header;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.page-header__title--input {
  color: #151515;
  font-family: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  bottom: calc(0.25 * 1em);
  font-weight: 400;
  position: relative;
  width: 100%;
}

.page-header__info {
  -webkit-box-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: flex;
  width: 70%;
}

.page-header__options {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 100%;
}

.page-header__button {
  margin-left: calc(1.25 * 1em);
}

.page-header__record-count {
  margin-left: calc(0.75 * 1em);
}

.page-header__action-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  margin-right: calc(1.25 * 1em);
}

.page-header__save-icon {
  font-size: 1.125em;
  margin-right: calc(0.5 * 1em);
  position: relative;
  top: 1px;
}

.page-header__more-icon {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  font-size: 24px;
  justify-self: center;
  opacity: 0.54;
}
.page-header__more-icon:hover + .page-header__options-modal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.page-header__options-modal {
  background: #fffeff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  right: 10px;
  top: 8px;
  min-width: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 150;
}
.page-header__options-modal:hover {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.page-header__modal-option {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  padding: 0.4em;
  width: 100%;
}
.page-header__modal-option:hover {
  background-color: #5b677430;
  cursor: pointer;
}

.page-header__modal-option-icon {
  font-size: 1em;
  margin-right: calc(0.5 * 1em);
}

.table-grid, .table-grid--simple {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(2 * 1em) calc(3.25 * 1em) minmax(-webkit-min-content, -webkit-max-content) auto;
  grid-template-rows: calc(2 * 1em) calc(3.25 * 1em) minmax(min-content, max-content) auto;
  grid-template-areas: "breadcrumbs" "page-header" "filters" "table";
}

.table-grid--simple {
  grid-template-areas: "breadcrumbs" "page-header" "table";
}

.table {
  padding: calc(0.5 * 1em) calc(1.25 * 1em);
  background-color: white;
  border-radius: 6px 6px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0;
}

.table__row, .table__row--ingredient, .table__row--recipe {
  padding: calc(0.75 * 1em) calc(1.25 * 1em);
  background-color: #fffeff;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.25fr;
}
.table__row:nth-child(even), .table__row--ingredient:nth-child(even), .table__row--recipe:nth-child(even) {
  background-color: #4f5d6a07;
}
.table__row:hover, .table__row--ingredient:hover, .table__row--recipe:hover {
  background-color: #2780d31c;
}

.table__header {
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.table__header:hover {
  background-color: #fffeff;
}

.table__row--recipe {
  grid-template-areas: "name category cuisine created-at more";
}

.table__row--ingredient {
  grid-template-columns: 2fr 1fr 1fr 0.25fr;
  grid-template-areas: "name name category subcategory more";
}

.table__cell {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.table__body {
  -webkit-box-flex: 1;
          flex-grow: 1;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}
.table__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.table__more-options {
  position: relative;
  text-align: center;
}

.table__more-icon {
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  justify-self: center;
  opacity: 0.54;
}
.table__more-icon:hover + .table__options-modal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.table__options-modal {
  background: #fffeff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  right: 20px;
  top: 3px;
  min-width: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 150;
}
.table__options-modal:hover {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.table__more-option, .table__more-option--cascade {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  padding: 0.4em;
  width: 100%;
}
.table__more-option:hover, .table__more-option--cascade:hover {
  background-color: #5b677430;
  cursor: pointer;
}

.table__more-option-icon {
  font-size: 1em;
  margin-right: calc(0.5 * 1em);
}

.table__more-option--cascade {
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.table__more-option-icon-box {
  padding: 0.4em 0;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: 0.4em;
  padding-left: 0.4em;
}

.table__more-option-dropdown {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
}

.table__more-options-cascade-btn, .table__more-options-cascade-btn--open {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 0.4em;
  width: 100%;
}

.table__more-options-cascade-btn--open {
  border-bottom: 1px solid #363636;
}

.table__more-dropdown-option {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
}

.table__inactive {
  font-size: 0.9em;
}

.table__emphasize {
  font-weight: 500;
}

.table__footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}
.table__footer:hover {
  background-color: #fffeff;
}

.table__pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: calc(1.25 * 1em);
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.table__pagination-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.table__pagination-ellipsis {
  margin-right: calc(0.375 * 1em);
}

.table-filter {
  -webkit-box-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: flex;
  grid-area: filters;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding-bottom: calc(1.25 * 1em);
}

.footer, .footer--public {
  padding: calc(0.5 * 1em);
  background-color: #fffeff;
  margin-top: calc(2 * 1em);
}

.footer--public {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  margin-top: 0;
}

.footer__content {
  max-width: 1200px;
  width: 90%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}

.footer__copyright {
  font-size: 0.8em;
}

.login {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-image: url("../images/bg-login.jpg");
  background-size: cover;
  height: 100%;
}

.login-form {
  padding: calc(0.5 * 1em) calc(1.25 * 1em);
  background-color: white;
  border-radius: 6px 6px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.95);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1.25fr;
  grid-template-areas: "title create-account" "email email" "password password" "login-btn login-btn" "remember forgot";
  min-width: 310px;
}

.login-form__title {
  align-self: baseline;
  grid-area: title;
}

.login-form__create {
  align-self: baseline;
  grid-area: create-account;
  justify-self: flex-end;
}

.login-form__input, .login-form__input--password, .login-form__input--email {
  margin-bottom: calc(0.75 * 1em);
}

.login-form__input--email {
  grid-area: email;
}

.login-form__input--password {
  grid-area: password;
}

.login-form__login {
  grid-area: login-btn;
}
.login-form__login:hover {
  background-color: #385e83;
  color: #fffeff;
}

.login-form__checkbox--remember {
  padding: calc(0.75 * 1em) 0;
  align-self: baseline;
  font-size: 0.875em;
  grid-area: remember;
}

.login-form__forgot {
  padding: calc(0.75 * 1em) 0;
  align-self: baseline;
  font-size: 0.875em;
  grid-area: forgot;
}

.register {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-image: url("../images/bg-login.jpg");
  background-size: cover;
  height: 100%;
}

.register-form {
  padding: calc(0.5 * 1em) calc(1.25 * 1em);
  background-color: white;
  border-radius: 6px 6px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.95);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "title login" "name name" "email email" "password password" "confirm confirm" "create-btn create-btn";
  min-width: 310px;
}

.register-form__title {
  align-self: baseline;
  grid-area: title;
}

.register-form__login {
  align-self: baseline;
  grid-area: login;
  justify-self: flex-end;
}

.register-form__input, .register-form__input--password-confirmation, .register-form__input--password, .register-form__input--email, .register-form__input--name {
  margin-bottom: calc(0.75 * 1em);
  position: relative;
}

.register-form__input--name {
  grid-area: name;
}

.register-form__input--email {
  grid-area: email;
}

.register-form__input--password {
  grid-area: password;
}

.register-form__input--password-confirmation {
  grid-area: confirm;
}

.register-form__create {
  grid-area: create-btn;
}
.register-form__create:hover {
  background-color: #385e83;
  color: #fffeff;
}

.welcome {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-image: url("../images/bg-login.jpg");
  background-size: cover;
  height: 100%;
}

.welcome__main-card {
  padding: calc(0.5 * 1em) calc(1.25 * 1em);
  background-color: white;
  border-radius: 6px 6px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 2em 1em;
  display: -webkit-box;
  display: flex;
  background-color: #fffeff;
}

.welcome__caption {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 calc(1.25 * 1em);
  margin-right: calc(1.25 * 1em);
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: calc(2 * 1em) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) auto minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: calc(2 * 1em) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) auto minmax(min-content, max-content);
  grid-template-areas: "breadcrumbs breadcrumbs breadcrumbs breadcrumbs" "photo page-header page-header page-header" "photo about about about" "info info info info" "ingredients ingredients directions directions" "notes notes notes notes";
}
@media (min-width: 600px) {
  .recipe-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs" "photo page-header page-header page-header page-header page-header" "photo about about about about about" "info info info info info info" "ingredients ingredients ingredients directions directions directions" "notes notes notes . . .";
  }
}
@media (min-width: 1200px) {
  .recipe-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs" "photo page-header page-header page-header page-header page-header" "photo about about about about about" "info info info info info info" "ingredients ingredients ingredients directions directions directions" "notes notes notes . . .";
  }
}

.recipe-grid__section-title {
  margin-bottom: calc(1.25 * 1em);
}

.recipe-grid__about {
  grid-area: about;
}

.recipe-grid__ratings {
  display: -webkit-box;
  display: flex;
}

.recipe-grid__rating-count {
  margin-left: calc(0.75 * 1em);
}

.recipe-grid__summary {
  margin-top: calc(1.25 * 1em);
}

.recipe-grid__info {
  padding: calc(0.5 * 1em) 0;
  margin: calc(2 * 1em) 0;
  grid-area: info;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid #505d6a;
  border-bottom: 1px solid #505d6a;
}
@media (min-width: 900px) {
  .recipe-grid__info {
    flex-wrap: nowrap;
  }
}

.recipe-grid__info-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 33%;
}
@media (min-width: 1200px) {
  .recipe-grid__info-block {
    width: auto;
  }
}

.recipe-grid__remove {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  align-self: center;
  grid-area: remove;
  height: 24px;
  position: relative;
}

.recipe-grid__confirmation {
  position: absolute;
  right: 30px;
  top: 10px;
}

.recipe-grid__info-input {
  margin: calc(0.5 * 1em) 0;
  font-size: 0.875em;
  font-weight: 300;
  height: 2.435em;
  max-width: 130px;
  text-align: center;
  width: 80%;
}
.recipe-grid__info-input::-webkit-input-placeholder {
  font-style: oblique;
}
.recipe-grid__info-input::-moz-placeholder {
  font-style: oblique;
}
.recipe-grid__info-input:-ms-input-placeholder {
  font-style: oblique;
}
.recipe-grid__info-input::-ms-input-placeholder {
  font-style: oblique;
}
.recipe-grid__info-input::placeholder {
  font-style: oblique;
}

.recipe-grid__ingredients {
  grid-area: ingredients;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.recipe-grid__ingredient-list {
  padding: calc(0.5 * 1em) 0;
}

.recipe-grid__ingredient-row {
  padding: calc(0.375 * 1em) 0;
  display: grid;
  grid-template-columns: 1.5fr 25px 3fr;
  grid-template-rows: auto;
  grid-template-areas: "amount . ingredient";
}

.recipe-grid__ingredient-row--edit {
  margin: 0.1em 0;
  padding: calc(0.5 * 1em) calc(0.375 * 1em);
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  background-color: #4f5d6a07;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 24px 1.5fr 25px 3fr 24px;
  grid-template-rows: auto;
  grid-template-areas: "drag amount . ingredient remove";
  width: 90%;
}
.recipe-grid__ingredient-row--edit:hover {
  background-color: #2780d31c;
}

.recipe-grid__ingredient-add {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "amount amount m-u m-u  ingredient ingredient ingredient ingredient add-btn";
  margin-bottom: calc(1.25 * 1em);
}
.recipe-grid__ingredient-add .react-autosuggest__container {
  border: none;
  border-bottom: 1px solid #363636;
  grid-area: ingredient;
  position: relative;
}
.recipe-grid__ingredient-add .react-autosuggest__input {
  border: none;
}

.recipe-grid__ingredient-input, .recipe-grid__ingredient-input--amount {
  border: none;
  border-bottom: 1px solid #363636;
  width: 100%;
}

.recipe-grid__ingredient-input--amount {
  grid-area: amount;
}

.recipe-grid__ingredient-input--measurement-unit {
  grid-area: m-u;
}

.recipe-grid__ingredient-amount {
  grid-area: amount;
}

.recipe-grid__ingredient-item {
  grid-area: ingredient;
  font-weight: 500;
}

.recipe-grid__directions {
  grid-area: directions;
}

.recipe-grid__direction-list {
  padding: calc(0.5 * 1em) 0;
}

.recipe-grid__direction-row {
  padding: calc(0.375 * 1em) 0;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "order direction";
}

.recipe-grid__direction-row--edit {
  margin: 0.1em 0;
  padding: calc(0.5 * 1em) calc(0.375 * 1em);
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  background-color: #4f5d6a07;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 24px 25px 1fr 24px;
  grid-template-rows: auto;
  grid-template-areas: "drag order direction remove";
}
.recipe-grid__direction-row--edit:hover {
  background-color: #2780d31c;
}

.recipe-grid__direction-add {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: auto;
  grid-template-areas: "direction add-btn";
  margin-bottom: calc(1.25 * 1em);
}

.recipe-grid__direction-order {
  grid-area: order;
}

.recipe-grid__direction {
  grid-area: direction;
  width: 95%;
}

.recipe-grid__notes {
  margin: calc(1.25 * 1em) 0;
  grid-area: notes;
}

.recipe-grid__note-list {
  padding: calc(0.5 * 1em) 0;
}

.recipe-grid__note-row {
  padding: calc(0.375 * 1em) 0;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "order note";
}

.recipe-grid__note-row--edit {
  margin: 0.1em 0;
  padding: calc(0.5 * 1em) calc(0.375 * 1em);
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  background-color: #4f5d6a07;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 24px 25px 1fr 24px;
  grid-template-rows: auto;
  grid-template-areas: "drag order note remove";
}
.recipe-grid__note-row--edit:hover {
  background-color: #2780d31c;
}

.recipe-grid__note-add {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: auto;
  grid-template-areas: "note add-btn";
  margin-bottom: calc(1.25 * 1em);
}

.recipe-grid__note-order {
  grid-area: order;
}

.recipe-grid__note, .recipe-grid__note--inactive {
  grid-area: note;
  width: 95%;
}

.recipe-grid__note--inactive {
  color: #505d6a;
  font-style: oblique;
}

.recipe-grid__photo-edit {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  grid-area: photo;
  position: relative;
}

.toast, .toast--hidden {
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  -webkit-animation: slidein 0.5s ease-in-out;
          animation: slidein 0.5s ease-in-out;
  background-color: #363636;
  border-radius: 4px;
  bottom: calc(0.75 * 1em);
  color: #fffeff;
  position: fixed;
  right: calc(1.25 * 1em);
  z-index: 800;
}

.toast__message {
  color: #fffeff;
}

.toast--hidden {
  -webkit-animation: fadeout 0.35s ease-in-out 0s forwards;
          animation: fadeout 0.35s ease-in-out 0s forwards;
}

.display--initial {
  display: initial;
}

.display--none {
  display: none;
}

.input-error {
  color: #ce0e0e;
}

.gold {
  color: #fdc22d;
}

.bold {
  font-weight: 700;
}