/* Fonts */

/* vietnamese */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_CGslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_CWslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Barlow Semi Condensed Light"), local("BarlowSemiCondensed-Light"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRf06i_B2slqZ6GfQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXd4qqKkkog6SP.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXdoqqKkkog6SP.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXeIqqKkkogw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CGslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_CWslqZ6GfVK5.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Barlow Semi Condensed Medium"), local("BarlowSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/barlowsemicondensed/v4/wlpigxjLBV1hqnzfr-F8sEYMB0Yybp0mudRfi6m_B2slqZ6GfQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFPZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFOZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Semi Condensed Light"), local("EncodeSansSemiCondensed-Light"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Q91tFAZ9XCT0mq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yZ9MRtRdjodUA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yY9MRtRdjodUA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Encode Sans Semi Condensed Regular"), local("EncodeSansSemiCondensed-Regular"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT4oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1yW9MRtRdjo.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FPZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FOZ9XCT0mq7wE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Encode Sans Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Encode Sans Semi Condensed Medium"), local("EncodeSansSemiCondensed-Medium"), url(https://fonts.gstatic.com/s/encodesanssemicondensed/v3/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FAZ9XCT0mq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Authored Dependencies */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button:focus {
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

textarea {
  resize: vertical;
}

body {
  font-family: "Encode Sans Semi Condensed", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
}

/* Spacing */

/* Components */

.app {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-top: 54px;
}

.btn,
.btn--text {
  padding: calc(0.375 * 1em);
  border: 1px solid #363636;
  border-radius: 3px;
  background-color: #fffeff;
}

.btn--text {
  background: none;
  border: none;
}

.header {
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
  background-color: #fffeff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__logo {
  height: 36px;
  width: auto;
}

.header__links {
  align-self: center;
}

.header__link,
.header__link--outline {
  margin-right: calc(0.5 * 1em);
}

.header__link:last-child,
.header__link--outline:last-child {
  margin-right: 0;
}

.header__link--outline {
  border: 1px solid #363636;
  border-radius: 3px;
  padding: calc(0.375 * 1em) calc(0.75 * 1em);
}

.header__form {
  display: none;
}

.navbar {
  background-color: #242424;
  color: white;
  display: -webkit-box;
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  min-width: 70px;
  max-width: 70px;
  overflow-y: hidden;
  -webkit-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  top: 60px;
}

.navbar:hover {
  max-width: 150px;
}

.navbar-icons {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 70px;
  max-width: 70px;
}

.navbar-icons__item,
.navbar-labels__label {
  height: 50px;
}

.navbar-icons__icon {
  font-size: 36px;
}

.navbar-labels__label {
  color: white;
  display: block;
  padding-right: 0.5em;
}

.footer {
  background-color: #eeeeee;
  height: 50px;
}

