.absolute {
    position: absolute;
}

.display--initial {
    display: initial;
}

.display--none {
    display: none;
}

.input-error {
    color: $red;
}

.gold {
    color: $gold;
}

.bold {
    font-weight: 700;
}

.line-through {
    text-decoration: line-through;
}

.invalid-feedback {
    font-size: $size-sm;
}