body, a, p {
    color: $gray-dark;
    font-family: 'Encode Sans Semi Condensed', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-family: 'Barlow Semi Condensed', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: $size-xl;
}

h3 {
    font-size: $size-md;
    font-weight: 500;
}

h4 {
    color: $weathered-blue;
}

h5 {
    font-weight: 300;
    font-size: $size-md;
}

a {
    &:hover {
        color: $weathered-blue;
    }
}