// Body
$size-xs: .8em;
$size-sm: .875em;
$size-md: 1em;
$size-lg: 1.125em;
$size-xl: 1.5em;
$size-xxxl: 2.5em;

// Colors
$black:#151515;
$gray: #535353;
$gray-dark: #363636;
$gray-light: #cfcfcf;
$gray-medium: #424242;
$gray-text: #dedede;
$green: #4fa75d;
$g2: #4caf4f;
$pink-red: #e04f50;
$pr-3:#e43d49;       
$red: #de2f04;
$turquise: #419791;
$weathered-blue: #385e83;
$weathered-blue-light: #4f5d6a07;
$weathered-blue-hover: #2780d31c;
$weathered-gray: #505d6a;
$white: #fffeff;

// Layout
$header-height: 54px;
$navbar-width: 50px;
$navbar-hover-width: 160px;

// Misc
$icon-opacity: .54;