// Body
$size-xs: .8em;
$size-sm: .875em;
$size-md: 1em;
$size-lg: 1.125em;
$size-xl: 1.5em;
$size-xxxl: 2.5em;

// Colors
$black:#151515;
$gray: #535353;
$gray-dark: #363636;
$gray-light: #cfcfcf;
$gray-medium: #424242;
$gray-text: #dedede;
$green: #4fa75d;
$gold: #fdc22d;
$pink-red: #e04f50;
$red: #ce0e0e;
$light-blue: #b6def0;
$turquise: #419791;
$weathered-blue: #385e83;
$weathered-blue-light: #4f5d6a07;
$weathered-blue-hover: #2780d31c;
$weathered-gray: #505d6a;
$weathered-gray-hover: #5b677430;
$white: #fffeff;

// Layout
$header-height: 54px;
$navbar-width: 50px;
$navbar-hover-width: 160px;

// z-indexes
$navbar-z-index: 100;
$table-options-z-index: 150;
$overlay-z-index: 500;
$dialog-z-index: 600;
$filter-z-index: 700;
$toast-z-index: 800;
$header-z-index: 1000;


// Misc
$icon-opacity: .54;